<%= content_for(:body_class) { 'sess-Body' } %>
<div class="sw-WindowCenter">
  <div class="sess-Container">
    <h1 class="sess-Appname">
      Leave me alone!
    </h1>
    <hr class="sess-Divider">
    <div class="sess-Actions">
      <%= button_tag 'Googleアカウントでログイン', class: 'sess-Button sw-Button-primary' %>
      <p class="sess-ActionDivider">
        ユーザー登録がまだの場合は
      <p>
      <%= button_tag 'Googleアカウントでユーザー登録', class: 'sess-Button sw-Button-secondary' %>
    </div>
  </div>
</div>
