<%= content_for(:body_class) { 'sess-Body' } %>
<div class="sess-Container">
  <div class="sess-SignIn">
    <h1 class="sess-Appname">
      Leave me alone!
    </h1>
    <hr class="sess-Divider">
    <div class="sess-Actions">
      <%= google_sign_in(url: google_session_url) do %>
        <%= button_tag 'Googleでログイン', class: 'sess-Button sw-Button-primary' %>
      <% end -%>
      <p class="sess-ActionDivider">
        ユーザー登録がまだの場合は
      <p>
      <%= link_to 'ユーザー登録する', marketing_url, class: 'sess-Button sw-Button-secondary' %>
    </div>
  </div>
</div>
