<div data-controller="inline-edit content" data-content-value="<%= title %>" id="test-header" class="tdl-Header">
  <div data-target="inline-edit.showSection" class="tdl-Row">
    <div class="tdl-HeaderWrapper">
      <span data-action="dblclick->inline-edit#open dblclick->content#edit" data-target="content.show" class="tdl-Title"></span>
      <div class="tdl-Header_Actions">
        <a href="#" id="js-TodoList_Menu" class="dropdown-toggle tdl-Action_Reset tdl-ResetButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          リセット
        </a>
        <div class="dropdown-menu dropdown-menu-right" aria-labelledby="js-TodoList_Menu">
          <a data-action="todo-list#removeDoneItems" href="#" class="dropdown-item">
            <i class="icon-ResetDone mr-1"></i>
            完了したTodoを削除
          </a>
          <div class="dropdown-divider"></div>
          <a data-action="todo-list#removeAllItems" href="#" class="tdl-ResetAll_Link dropdown-item">
            <i class="icon-ResetAll mr-1"></i>
            Todoをすべて削除
          </a>
        </div>
      </div>
    </div>
  </div>
  <div data-target="inline-edit.editSection">
    <div data-controller="safe-form" class="tdl-TitleForm">
      <input data-target="content.input safe-form.field" name="form[title]" type="text" class="tdl-TitleForm_Input" autocomplete="off">
      <button data-action="content#update inline-edit#close" data-target="safe-form.submit" class="sw-Button sw-Button-primary">
        <i class="icon-Save"></i>
      </button>
      <a data-action="inline-edit#close" href="#" class="sw-Cancel sw-Cancel-btn">
        <i class="icon-Cancel"></i>
      </a>
    </div>
  </div>
</div>
