<div class="tdl-Header" data-controller="inline-edit" data-inline-edit-primary-display="flex">
  <div data-target="inline-edit.primary" class="sw-flex sw-align-items-center">
    <span class="tdl-Title">
      Todo
    </span>
    <div class="tdl-Header_Actions">
      <%= link_to '編集する', '#', data: { action: 'inline-edit#open' }, class: 'tdl-Item_Action' %>
    </div>
  </div>
  <div data-target="inline-edit.form">
    <form class="tdl-TitleForm" data-controller="safe-form">
      <input type="text" data-target="safe-form.field" class="tdl-TitleForm_Input" value="Todo">
      <button type="submit" class="sw-Button sw-Button-primary">
        <i class="icon-Save"></i>
      </button>
      <a data-action="inline-edit#close" href="#" class="sw-Cancel sw-Cancel-btn">
        <i class="icon-Cancel"></i>
      </a>
    </form>
  </div>
</div>
