<div class="tdl-Actions">
  <div class="tdl-Actions_Save">
    <%= google_sign_in(url: google_sign_up_url) do %>
      <%= button_tag 'Googleでユーザー登録', class: 'mk-Button sw-Button-primary', id: 'test-sign-up' %>
    <% end -%>
    <%= f.button data: { target: 'auto-submit.submit' }, style: 'display:none;' %>
  </div>
</div>
