<div class="tdl-Actions">
  <div class="tdl-Actions_Save">
    <%= link_to root_url, class: 'tdl-InstantMode_SignUpLink' do %>
      <i class="icon-GotoSignup"></i>
      ユーザー登録へ
    <% end -%>
    <%= f.button data: { target: 'auto-submit.submit' }, style: 'display:none;' %>
  </div>
</div>
