<div class="tdl-Add">
  <div data-controller="new-todo safe-form" class="todo-Form">
    <input data-target="new-todo.content safe-form.field" type="text" class="todo-Input" id="test-new-todo-content" placeholder="Todoを入力...">
    <button data-action="new-todo#create" data-target="safe-form.submit" class="sw-Button sw-Button-primary" id="test-create-todo">
      追加する
    </button>
  </div>
</div>
