<div class="tdl-Actions">
  <div class="tdl-Actions_Save">
    <%= render partial: 'todo_lists/save_status', locals: { list: list } %>
    <%= f.button data: { target: 'auto-submit.submit' }, style: 'display:none;' %>
  </div>
</div>
