<span data-controller="relative-time" data-target="auto-submit.status" data-relative-time-time="<%=l list.updated_at, format: :long_with_sec %>" data-relative-time-suffix="に保存済み" id="js-save-status" class="tdl-LastSavedAt"></span>
