<div class="row" data-controller="reminder" data-reminder-at="" id="test-remind-at">
  <div class="col-lg-9 col-xs-12 mx-auto">
    <%= form_with(todo_list_form_options(@instant_mode)) do |f| %>
      <div class="tdl-Background">
        <%= render partial: 'todo_lists/list', locals: { list: @list } %>
      </div>
      <% unless @instant_mode -%>
        <%= render partial: 'todo_lists/save', locals: { list: @list, f: f } %>
      <% end -%>
    <% end -%>
  </div>
</div>
<template id="tmpl-todo-item">
  <%= render partial: 'todo_lists/list_item', locals: { item: nil, index: nil } %>
</template>
