<div class="row">
  <div class="col-lg-9 col-xs-12 mx-auto">
    <%= form_with url: todo_list_url, method: :patch, local: true, scope: :form do |f| %>
      <div class="tdl-Background">
        <%= render partial: 'todo_lists/list', locals: { list: @list } %>
      </div>
      <div class="tdl-Actions">
        <div class="tdl-Actions_Save">
          <%= f.button '保存する', class: 'btn btn-sm btn-secondary' %>
          <span class="tdl-LastSavedAt">
            3時間前に保存済み
          </span>
        </div>
      </div>
    <% end -%>
  </div>
</div>
<template id="tmpl-todo-item">
  <%= render partial: 'todo_lists/list_item', locals: { item: nil, index: nil } %>
</template>
