<div class="row">
  <div class="col-lg-9 col-xs-12 mx-auto">
    <div class="tdl-Background">
      <%= render partial: 'todo_lists/list', locals: { list: @list } %>
    </div>
    <div class="tdl-Tail">
      <span class="tdl-Timestamp">
        05-11 18:30 に更新
      </span>
    </div>
  </div>
</div>
<template id="tmpl-todo-item">
  <%= render partial: 'todo_lists/list_item', locals: { item: nil, index: nil } %>
</template>
