<div class="row">
  <div class="col-lg-7 col-xs-12 mx-auto">
    <div class="set-Container">
      <div class="set-Container_Header">
        <h2 class="set-Container_Title">
          リマインダー設定
        </h2>
      </div>
      <div class="set-Container_Body">
        aaa
      </div>
    </div>
  </div>
</div>
