<div class="row">
  <div class="col-lg-7 col-xs-12 mx-auto">
    <div class="set-Container">
      <div class="set-Container_Header">
        <h2 class="set-Container_Title">
          リマインダー設定
        </h2>
      </div>
      <div class="set-Container_Body">
        <form>
          <div class="form-group">
            <label>
              リマインドする間隔
            </label>
            <select class="form-control">
              <% 5.step(60, 5) do |n| %>
                <option><%= n %>分</option>
              <% end -%>
            </select>
            <small class="form-text text-muted">
              最後にリストを変更してからこの時間が経過すると通知されます
            </small>
          </div>
          <button class="btn sw-Button-primary">
            保存する
          </button>
        </form>
      </div>
    </div>
    <div class="set-Nav">
      <%= link_to root_url, class: 'sw-Link-sm' do %>
        <i class="icon-Back"></i>
        Todoリストへもどる
      <% end -%>
    </div>
  </div>
</div>
