<div class="row">
  <div class="col-lg-7 col-xs-12 mx-auto">
    <div class="set-Container">
      <div class="set-Container_Header">
        <h2 class="set-Container_Title">
          リマインダー設定
        </h2>
      </div>
      <div class="set-Container_Body">
        <form>
          <div class="frm-Row mb-3">
            <label class="mb-0">
              最後にリストを更新してから
            </label>
            <select class="ml-1 mr-1">
              <% 5.step(60, 5) do |n| %>
                <option><%= n %></option>
              <% end -%>
            </select>
            <label class="mb-0">
              分後にリマインドする
            </label>
          </div>
          <button class="btn sw-Button-primary">
            保存する
          </button>
        </form>
      </div>
    </div>
    <div class="set-Nav">
      <%= link_to root_url, class: 'sw-Link-sm' do %>
        <i class="icon-Back"></i>
        Todoリストへもどる
      <% end -%>
    </div>
  </div>
</div>
