<div class="container" style="margin-top: 5rem;">
  <div class="col">
    <div class="mk-AppnameWrapper">
      <p class="mk-Appname">
        Leave me alone!
      </p>
    </div>
    <div class="mk-CopyWrapper">
      <p class="mk-Copy">
        さっさと終わらせて
        <br>
        帰りましょ。
      </p>
    </div>
    <div class="mk-SignInOptions">
      <%#= google_sign_in(url: session_url) do %>
        <%#= button_tag 'Googleアカウントでログイン', class: 'btn btn-secondary' %>
      <%# end -%>
    </div>
  </div>
</div>
