<%= content_for(:body_class) { 'mk-Body' } %>
<div class="mk-Nav">
  <h1 class="mk-Appname">
    Leave me alone!
  </h1>
  <div class="ml-auto">
    <%= link_to 'ログイン', new_session_url, class: 'mk-Link' %>
  </div>
</div>
<div class="mk-Main">
  <p class="mk-Copy">
    さっさと<br>終わらせて<br>帰りましょう。
  </p>
  <span class="mk-Copy_Image">
    👨‍💻
  </span>
</div>
<div class="mk-Footer">
  <div class="mk-Joins">
    <%= button_tag 'Googleでユーザー登録', class: 'mk-Button sw-Button-primary' %>
  </div>
</div>
