@import 'bootstrap/functions';
@import 'bootstrap_vars';
@import 'bootstrap';

$paper-bg: #F7EDD1;
$paper-line-color-h: #D0D4D8;
$paper-line-color-v: #E0B99F;

@import 'navigation';
@import 'todo_list';

body {
  padding-bottom: 3rem;
}
