.icon-Save {
  @extend .fa, .fa-check;
}

.icon-Cancel {
  @extend .fa, .fa-close;
  color: $gray-500;
}

.icon-Setting {
  @extend .fa, .fa-cog;
}

.icon-Sign-out {
  @extend .fa, .fa-sign-out;
}

.icon-ResetAll {
  @extend .fa, .fa-fast-backward;
}

.icon-Highlight {
  @extend .fa, .fa-lightbulb-o;
}

.icon-ResetDone {
  @extend .fa, .fa-backward;
}

.icon-GotoSignup {
  @extend .fa, .fa-chevron-circle-right;
}

.icon-Guest {
  @extend .fa, .fa-user-circle-o;
  color: $gray-500;
  font-size: 2.25rem;
  margin: .5rem .35rem;
}
