.icon-Save {
  @extend .fa, .fa-check;
}

.icon-Cancel {
  @extend .fa, .fa-close;
  color: $gray-500;
}

.icon-Setting {
  @extend .fa, .fa-cog;
}

.icon-Sign-out {
  @extend .fa, .fa-sign-out;
}

.icon-Sign-in {
  @extend .fa, .fa-sign-in;
}

.icon-ResetDone {
  @extend .fa, .fa-magic;
}

.icon-ResetAll {
  @extend .fa, .fa-exclamation-triangle;
}

.icon-Highlight {
  @extend .fa, .fa-lightbulb-o;
}

.icon-GotoSignup {
  @extend .fa, .fa-chevron-circle-right;
}

.icon-Guest {
  @extend .fa, .fa-user-circle-o;
  color: $gray-500;
  font-size: 2.25rem;
  margin: .5rem .35rem;
}

.icon-GotoInstant {
  @extend .fa, .fa-bolt;
}

.icon-Saving {
  @extend .fa, .fa-cloud-upload;
  color: theme-color('success');
  font-size: $font-size-base;
  animation: kf-Flashing 1s ease 0s infinite;
}

.icon-Back {
  @extend .fa, .fa-share;
}
