.sess-Body {
  background-color: lighten($paper-bg, 5%);
}

.sess-Container {
  margin-top: 20vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.sess-RootLink {
  &:hover {
    text-decoration-color: $body-color;
  }
}

.sess-Appname {
  @include anf;
  text-align: center;
  font-size: 2.5rem;
  font-weight: bold;
  color: $body-color;
}

.sess-Divider {
  width: 70%;
  margin-top: .25rem;
}

.sess-Actions {
  margin-top: 2.5rem;
}

.sess-ActionDivider {
  text-align: center;
  margin: 1.25rem 0;
  color: $gray-600;
}

.sess-Button {
  @extend .btn, .btn-block;
}
