.sw-Flex {
  display: flex;
}

.sw-AlignItemsCenter {
  align-items: center;
}

.sw-Button {
  @extend .btn, .btn-sm;
}

.sw-Button-primary {
  @extend .btn-secondary;
}

.sw-Cancel {
  @extend .ml-2;
  font-size: .675rem;
}

.sw-Cancel-btn {
  font-size: 1.25rem;
}

.sw-InlineErrors {
  @include nf;
  margin-left: 1.5rem;
  padding-bottom: .25rem;
  font-size: .675rem;
  color: theme-color('danger');
}
