.sw-PublicBody {
  background-color: #FFF;
}

.sw-Link-sm {
  font-size: $font-size-sm;
}

.sw-Button {
  @extend .btn, .btn-sm;
}

.sw-Button-primary {
  @extend .btn-success;
  color: $white;
}

.sw-Button-secondary {
  border: 1px solid $gray-500;
  background-color: $white;
  color: $gray-700;

  &:hover {
    background-color: $gray-200;
  }
}

.sw-Cancel {
  @extend .ml-2;
  font-size: .675rem;
}

.sw-Cancel-btn {
  font-size: 1.25rem;
}

.sw-InlineErrors {
  @include nf;
  margin-left: 1.5rem;
  padding-bottom: .25rem;
  font-size: .675rem;
  color: theme-color('danger');
}
