.todo-Item {
  @extend .custom-control, .custom-checkbox;
  padding-top: .375rem;
  padding-bottom: .375rem;
}

.todo-Item_Check {
  @extend .custom-control-input;
}

.todo-Item_Content {
  @extend .custom-control-label;
  @include nf;
  font-size: 1rem;
}

@mixin todo-input {
  @include input-no-border;
  flex-grow: 1;
}

.todo-Form {
  @extend .form-inline;
  margin-left: .75rem;
}

.todo-Input {
  @include todo-input;
}
