.todo-Item {
  @extend .d-flex, .align-items-center;
  padding-top: .375rem;
  padding-bottom: .375rem;
}

.todo-Item_Check {
  @extend .d-flex, .justify-content-center;
  width: $paper-left-space;
  margin-right: 1rem;
}

.todo-Item_Content {
  @include nf;
  font-size: 1rem;
  line-height: 1.5rem;
  margin: 0;
}

@mixin todo-input {
  @include input-no-border;
  flex-grow: 1;
}

.todo-Form {
  @extend .form-inline;
  margin-left: 3.25rem; // $paper-left-space + 0.25rem
}

.todo-Input {
  @include todo-input;
}
