.tdl-Background {
  @include notepad($paper-left-space);
}

.tdl-Header {
  padding: 1.25rem .5rem 1.25rem 4rem; // $paper-left-space + 1rem
}

.tdl-HeaderWrapper {
  @extend .d-flex, .align-items-center, .flex-wrap;
  width: 100%;
}

@mixin tdl-title {
  @include nf;
  font-size: 1.25rem;
  font-weight: bold;
}

.tdl-Title {
  @include tdl-title;
}

.tdl-Header_Actions {
  display: none;
  margin-left: .25rem;
}

.tdl-Header:hover .tdl-Header_Actions {
  @extend .d-flex, .align-items-center;
  flex-grow: 1;
  display: block;
}

.tdl-Action_Reset {
  @extend .ml-auto;
}

.tdl-ResetAll_Link {
  color: theme-color('danger');
  &:hover {
    color: theme-color('danger');
  }
}

.tdl-Body_List {
  border-bottom: 1px solid $paper-line-color-h;
}

.tdl-Row {
  display: flex;
  width: 100%;
  align-items: center;
}

.tdl-Item {
  padding: .125rem .5rem .125rem 0;
  border-top: 1px solid $paper-line-color-h;
}

.tdl-Item-highlight {
  background-color: darken($paper-bg, 18%);
}

.tdl-Item_Actions {
  display: none;
  margin-left: .25rem;
}

.tdl-Item:hover .tdl-Item_Actions {
  @extend .d-flex, .align-items-center;
  flex-grow: 1;
  display: block;
}

.tdl-Item_Highlight {
  font-size: 1.25rem;
  margin-left: .25rem;
  color: $gray-600;
  cursor: pointer;
}

.tdl-Item_Remove {
  @extend .ml-auto;
  font-size: $font-size-sm;
  &:hover {
    color: theme-color('danger');
  }
}

.tdl-Add {
  padding: .25rem .5rem .25rem 0;
}

.tdl-Actions {
  @extend .d-flex, .align-items-center;
  margin-top: 1rem;
}

.tdl-Actions_Save {
  @extend .mx-auto;
}

.tdl-LastSavedAt {
  font-size: .75rem;
  color: $gray-700;
}

.tdl-TitleForm {
  @extend .form-inline;
}

.tdl-TitleForm_Input {
  @include input-no-border;
  @include tdl-title;
  flex-grow: 1;
  padding: 0;
}

.tdl-InstantMode_SignUpLink {
  color: theme-color('success');
  &:hover {
    color: darken(theme-color('success'), 10%);
  }
}
