<li class="nav-item dropdown">
  <a class="nav-link dropdown-toggle" href="" id="js-GlobalNav_Menu" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
    <%= image_tag(current_user.avatar_url, alt: current_user.name, class: 'nav-Global_Avatar') %>
  </a>
  <div class="dropdown-menu" aria-labelledby="js-GlobalNav_Menu">
    <%= link_to setting_url, class: 'dropdown-item' do %>
      <i class="icon-Setting mr-1"></i>
      リマインダー設定
    <% end -%>
    <div class="dropdown-divider"></div>
    <%= link_to session_url, method: :delete, class: 'dropdown-item' do %>
      <i class="icon-Sign-out mr-1"></i>
      ログアウト
    <% end -%>
  </div>
</li>
