<% content_for :page do %>
  <%= render 'global_nav' %>
  <div class="container" data-controller="reminder" data-reminder-at="" id="test-remind-at">
    <%= yield %>
  </div>
<% end -%>
<%= render template: 'layouts/application' %>
